html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0, 0, 0, 1);
}

.wrap {
  perspective: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-100px) translateY(-100px);
}

.cube {
  position: relative;
  transform-style: preserve-3d;
}

.cube div {
  position: absolute;
  width: 200px;
  height: 200px;
  color: rgba(60, 208, 6, 1);
  background-color: rgba(0, 0, 0, 0.1);

  /* background: rgba(255, 255, 255, 0); */
  box-shadow: inset 0 0 30px rgba(255, 0, 255, 0.8);
  text-align: center;
  line-height: 200px;
  font-size: 140px;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.front {
  transform: translateZ(100px);
}

.back {
  transform: rotateY(180deg) translateZ(100px);
}

.right {
  transform: rotateY(90deg) translateZ(100px);
}

.left {
  transform: rotateY(-90deg) translateZ(100px);
}

.top {
  transform: rotateX(90deg) translateZ(100px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

@keyframes spin {
  from { transform: rotate3d(1, 1, 1, 0deg); }
  to { transform: rotate3d(1, 1, 1, 360deg); }
}

.cube {
  transform-origin: 100px 100px;
  animation: spin 20s infinite linear;
}
