html,
body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
}

.flex {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.wrap {
  perspective: 800px;
  height: 200px;
  margin: auto;
}

.cube {
  position: relative;
  width: 200px;
  transform-style: preserve-3d;
}

.cube div {
  position: absolute;
  width: 200px;
  height: 200px;
  color: rgba(60, 208, 6, 1);
  background: rgba(255, 255, 255, 0);
  box-shadow: inset 0 0 30px rgba(255, 0, 255, 0.8);
  text-align: center;
  line-height: 200px;
  font-size: 140px;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.front {
  transform: translateZ(100px);
}

.back {
  transform: rotateY(180deg) translateZ(100px);
}

.right {
  transform: rotateY(90deg) translateZ(100px);
}

.left {
  transform: rotateY(-90deg) translateZ(100px);
}

.top {
  transform: rotateX(90deg) translateZ(100px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

@keyframes spin {
  from { transform: rotateX(0) rotateZ(0); }
  to { transform: rotateX(360deg) rotateZ(360deg); }
}

.cube {
  transform-origin: 100px 100px;
  animation: spin 20s infinite linear;
}
